#garage-container {
    background: $background;

    .inner-app{
        #garage-body{
            border: 1px solid $border-color;
            background-color:(130, 156, 208);
            
            .row-garage{
                color: #007AB7; 
                font-weight:bolder;
            }

            .in-city{
                background-color: #FF6200
            }
        }
    }
}
